/*Website Template by # */
:root{
    --color1:#FFFFFF;
    --color2:#000000;

}

font-face {
    font-family: 'Conv_Ubuntu-Light';
    src: url('../fonts/Ubuntu-Light.eot');
    src: url('../fonts/Ubuntu-Light.woff') format('woff'), url('../fonts/Ubuntu-Light.ttf') format('truetype'), url('../fonts/Ubuntu-Light.svg') format('svg');
}
body {
    /*background: url(../../../images/bg-body.jpg) repeat;*/
    font-family: 'Conv_Ubuntu-Light';
    /*font-family: Comic Sans MS,sans-serif;*/
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    min-width: 960px;
    padding: 0;
}

#nav{
    float:right;
    margin:10px;
}

#nav li{

    color:#000000;
}

#nav a.nav-link-black{
    border: #333 2px solid;
    border-radius: 3px;
    background: #333;
    color: #FFF;
    text-decoration: none;
    padding: 2px 5px;
    margin: 1px;
}

#nav a.nav-link-white{
    border: #333 2px solid;
    border-radius: 3px;
    background: #FFF;
    color: #333;
    text-decoration: none;
    padding: 2px 5px;
    margin: 1px;
}

#sidebar dl{
    color:#000000;
    font-size: 60px
}
#header {
    /*background: url(../../../images/bg-header.jpg) repeat-x;*/
    background-color: #EEEEEE;
    margin: 0;
    /*padding: 18px 0 0;*/
    padding: 0;
    text-align: center;
    border-color:#000000;
    border-bottom-style: solid;
    font-size: 1.2em;
}
#header a.logo {
    display: block;
    height: 124px;
    margin: 0 auto 22px;
    padding: 0;
    width: 400px;
}
#header a.logo img {
    border: 0;
    display: block;
}
#header h2{
    text-align: left;
    padding: 10px 0;
    margin: 0 70px;
    font-size: 2.5em;

}
#header ul {
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
    width: 960px;
}
#header ul li {
    float: left;
    list-style: none;
    margin: 0 0 0 0;
    text-align:center;
    padding: 0;
    width:20%;
}
/*#header ul li:first-child {
    margin: 0 0 0 15px;
}*/
#header ul li a {
    color: #000000;
    /*display: block;*/
    height: 37px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display:inline-block;
    *display:inline;
    *zoom:1;
}
#header ul li a:hover {
    color: #777;
}
#header ul li.selected {
    background: url(../images/bg-menu.png) no-repeat top center;
}
#header ul li.selected a {
    background:     url(../images/dots.png) repeat-x left bottom;
}
#section {
    /*border-bottom: 2px solid #1E90FF;*/
    height: 571px;
    margin: 0 0 2px;
    padding: 0;
}
#section > div {
    margin: 0 auto;
    padding: 165px 0 0;
    width: 960px;
}
#section div div {
    /*background: url(../images/bg-heading.png) repeat;*/
    height: 161px;
    margin: 0 0 0 10px;
    padding: 33px 22px 33px 18px;
    /*width: 411px;*/
}
#section div div h1 {
    color: #333;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    /*text-transform: uppercase;*/
}
#section div div p {
    color: #94acb3;
    font-size: 16px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: justify;
}
#section div div p a {
    color: #94acb3;
}
#section div div p a:hover {
    color: #386370;
}
#featured {
    background: url(../images/bg-content.jpg) repeat;
    margin: 0;
    padding: 0;
}
#featured > div {
    margin: 0 auto;
    overflow: hidden;
    padding: 33px 0 27px;
    width: 960px;
}
#featured div .article {
    float: left;
    margin: 0;
    padding: 0 10px;
    width: 460px;
}

#featured div .article h2 {
    color: #588181;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 24px;
    text-transform: capitalize;
}
#featured div .article p {
    color: #767676;
    line-height: 30px;
    margin: 0;
    padding: 20px 0;
}
#featured div .article p a {
    color: #767676;
    text-decoration: underline;
}
#featured div .article p a:hover {
    color: #333;
}
#featured div ul {
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 480px;
}
#featured div ul li {
    border: 1px solid #fff;
    background: #fff;
    cursor: pointer;
    float: left;
    list-style: none;
    margin: 0 10px 22px;
    padding: 0;
    position: relative;
    width: 218px;
}

#featured div ul li div p {
    color: #767676;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
}
#featured div ul li div .more {
    color: #767676;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#featured div ul li:hover div {
    left: 0;
}
#featured div ul li img {
    display: block;
}
#body {
    /*background: url(../images/bg-content.jpg) repeat;*/
    margin: 0 auto;
    min-height: 1100px;
    overflow: hidden;
    padding: 20px 0;
    width: 960px;
}
#body .sidebar {
    /*background: var(--color2);*/
    background: #555;
    float: left;
    margin: 0 10px 0 20px;
    padding: 0 0 10px;
    width: 210px;
}
#body .sidebar h3 {
    border-bottom: 2px solid #EEE;
    color: #EEE;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 3px 0;
    text-align: center;
    text-transform: uppercase;
}
#body .sidebar ul {
    margin: 0;
    padding: 0 0 0 20px;
}
#body .sidebar ul > li > ul{
    padding:0 0 0 20px;
}
#body .sidebar ul li {
    color: #EEE;
    font-size: 1.1em;
    list-style: none;
    line-height: 30px;
    margin: 0;
    padding: 5px 0;
}
#body .sidebar ul > li > ul > li{
    font-size:0.9em;
}
#body .sidebar ul > li > ul > li a{
    color: #DDD;
}
/*#body .container {*/
/*background: url(../images/icons.png) no-repeat;*/
/*display: block;*/
/*margin: 0;*/
/*padding: 0 0 0 23px;*/
/*text-transform: uppercase;*/
/*}*/
/*#body .container div.web_page {*/
/*background-position: 0 -141px;*/
/*}*/
/*#body .container div.phone {*/
/*background-position: 0 -166px;*/
/*}*/
/*#body .container div.email {*/
/*background-position: 0 -191px;*/
/*}*/
/*#body .sidebar ul li span.twitter {*/
/*background-position: 0 -216px;*/
/*}*/
/*#body .sidebar ul li span.facebook {*/
/*background-position: 0 -241px;*/
/*}*/
#body .sidebar ul ul {
    margin: 0;
    padding: 0;
}
#body .sidebar ul ul li {
    padding: 0;
}
#body .sidebar ul li a {
    color: #EEE;
    text-decoration: none;
}
#body .sidebar ul li a:hover {
    text-decoration: underline;
}
#body h3.large-category{
    background-color: #333;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size: 2em;
    font-weight:bold;
    padding:10px;
    color: #FFF;
    width:fit-content;
}
#body .content {
    float: left;
    margin: 0 0px 0 10px;
    padding: 0 10px 0 10px;
    width: 678px;
    border:#DDD 2px solid;
}
#body .content > img {
    border: 1px solid #fff;
    display: block;
}
#body .content h2 {
    /*color: #97aeb3;*/
    color: #555;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 20px 0;
    text-transform: capitalize;
}
/*#body .content h3 {
    background: url(../images/icons.png) no-repeat 0 -350px;
    color: #767676;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-indent: 30px;
}
#bode .content ul a.add{
    background: url(../images/button-submit.png) no-repeat 0 0;
    border: 0;
    cursor: pointer;
    display: block;
    height: 38px;
    margin: 5px 0 0 130px;
    padding: 0;
    width: 142px;
}

#bode .content ul a .add:hover{
    background-position: 0 -43px;
}*/

#body .content a.add{
    background-color:#333;
    -webkit-border-radius:5px;
    -moz-border-radius:1px;
    border-radius:1px;
    color: #FFF;
    margin-left: 5px;
    padding: 0 5px 2px 5px;
    font-size:1.2em;
    text-decoration: none;
}

#body .content span.add{
    color:#333;
    text-decoration: none;
    font-weight: bold;
    font-size:1.2em;
}

#body .content span.edit a.edit{
    /*border: #333 1px solid;*/
    border-radius: 5px;
    padding: 0 5px;
    background: #333;
    color: #FFF;
    text-decoration: none;
    font-weight:normal;
}

#body .content span.delete a.delete{
    /*border: #333 1px solid;*/
    border-radius: 5px;
    padding: 0 5px;
    background: #F44;
    color: #FFF;
    text-decoration: none;
    font-weight:normal;
}
#body .content span.reset a.reset{
    /*border: #333 1px solid;*/
    border-radius: 5px;
    padding: 0 5px;
    background: #FFF;
    color: #333;
    text-decoration: none;
    font-weight:normal;
}

#body .content span.up a.up{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding:0 5px;
    background: #333;
    color:#FFF;
    text-decoration: none;
    font-weight:normal;
}

#body .content span.down a.down{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding:0 5px;
    background: #333;
    color: #FFF;
    text-decoration: none;
    font-weight:normal;
}

#body div.content > ul{
    padding: 5px;
    margin:0
}

#body .content p {
    color: #767676;
    line-height: 30px;
    margin: 0;
    padding: 20px 0;
}
#body .content p a {
    color: #767676;
    text-decoration: underline;
}
#body .content p a:hover {
    color: #333;
}
#body .content .container li{
    list-style: none;
}
/*#body .content .container .row{*/
    /*border: dotted;*/
    /*border-width: medium;*/
    /*border-color:#5599FF;*/
    /*margin:5px;*/
    /*border-radius: 15px;*/

/*}*/

/*#body .content .container a{*/
    /*text-decoration: underline;*/
/*}*/
/*#body .content .container a:link{*/
    /*color:#999;*/
/*}*/
/*#body .content .container a:visited{*/
    /*color:#555;*/
/*}*/
/*#body .content .container a:hover{*/
    /*color:#777;*/
/*}*/
#body .content-display{
    float:left;
    /*margin: 0 10px 0 10px;*/
    margin: 0;
    padding: 0 5px 0 5px;
    width: 940px;
    border:#DDD 2px solid;
}
#body .content-display h2 {
    color: #555;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 20px 0;
    text-transform: capitalize;
}
#body .content-display h2 {
    color: #555;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 20px 0;
    text-transform: capitalize;
}
#body .content-display p {
    color: #767676;
    line-height: 30px;
    margin: 0;
    padding: 20px 0;
}
#body .content-display p a {
    color: #767676;
    text-decoration: underline;
}
#body .content-display p a:hover {
    color: #333;
}
#body .content-display .container li{
    list-style: none;
}
/*#body .content-display .container .row{*/
    /*border: dotted;*/
    /*border-width: medium;*/
    /*border-color:#5599FF;*/
    /*margin:5px;*/
    /*border-radius: 15px;*/

/*}*/
/*#body .content-display .container a{*/
    /*text-decoration: none;*/
/*}*/
/*#body .content-display .container a:link{*/
    /*color:#999;*/
/*}*/
/*#body .content-display .container a:visited{*/
    /*color:#555;*/
/*}*/
/*#body .content-display .container a:hover{*/
    /*color:#777;*/
    /*text-decoration: underline;*/
/*}*/
/*#body .content-display .container a.more{*/
    /*float:right;*/
    /*margin:20px;*/
    /*color: #5599FF;*/
    /*text-decoration: none;*/
/*}*/
#body .container div.bar{
    margin:40px 5px 40px 5px;
    font-size: 1.5em;
    background-color: #000;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    color: #FFF;
    width:fit-content;
}
#body .container div.bar h3.bar{
    padding:5px;
}
#body div.container a{
    color:#000;
    text-decoration: none;
    font-weight:bold;
}
#body div.container a:hover{
    color:#000;
    text-decoration: underline;
}
#body div.container a:visited{
    color:#000;
    text-decoration: none;
}
#body div.container div.text h2{
    color:#000;
    font-size:2.5em;
}
#body div.container div.text h3{
    color:#333;
    font-size:1.2em;
    margin:5px;
}
#body div.container a.download{
    text-decoration: none;
    border-radius: 5px;
    padding: 1px 5px;
    color: #FFF;
    background: #000;
    font-weight: normal;
}
#body div.container span.access{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 1px 5px;
    color: #000;
    background: #F44;
    font-weight:normal;
}
/*#body div.container table tr td h3.category{*/
    /*border-bottom:#DDD 1px solid;*/
    /*font-size:1.5em;*/
    /*padding-bottom: 5px;*/
/*}*/

#body > ul {
    margin: 0;
    padding: 0;
}
#body > ul > li {
    border-top: 2px solid #ffe600;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 40px 20px 20px;
}
#body > ul > li:first-child {
    border: 0;
    padding: 0 20px 20px;
}
#body ul li .figure {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: 210px;
}
#body ul li .figure span {
    color: #94acb3;
    font-size: 16px;
    display: block;
    margin: 0;
    padding: 0 0 12px;
    text-transform: capitalize;
}
#body ul li .figure img {
    border: 1px solid #fff;
    display: block;
}
/*#body ul li .article {
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 690px;
}
#body ul li .article p {
    clear: both;
    color: #767676;
    line-height: 30px;
    margin: 0;
    padding: 20px 0 10px;
}
#body ul li .article p a {
    color: #767676;
    text-decoration: underline;
}
#body ul li .article p a:hover {
    color: #333;
}
#body ul li .article ul {
    float: left;
    margin: 0;
    padding: 0;
}
#body ul li .article ul li {
    color: #767676;
    display: block;
    line-height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 230px;
}
#body ul li .article ul li a {
    color: #767676;
    text-decoration: none;
    text-transform: uppercase;
}
/*#body id | ul li 派生选择器 .article class*/
/*#body ul li .article ul li a:hover {
    color: #386370;
}*/
#body table{
    border:0;
    border-collapse: collapse;
    width:100%;
}
#body table tr.list-display{
    border: #FFF 10px solid;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
/*#body table tr.list-display td{*/
    /*background-color: #EEE;*/
/*}*/

#body table td.text-display{
    background-color: #EEE;
    padding:10px;
}

#body .content form a.file{
    float: left;
}

#body .content form {
    margin: 0;
    padding: 0;
}
#body .content form > label {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
}
#body .content form > label span {
    /*color: #767676;*/
    color: #555;
    display: block;
    float: left;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    width: 130px;
}
#body .content form label input[type='text'] {
    border: 1px solid #AAA;
    color: #767676;
    display: block;
    float: left;
    font-family: 'Conv_Ubuntu-Light';
    font-size: 14px;
    height: 21px;
    margin: 0;
    padding: 3px 5px;
    width: 308px;
}
#body .content form label input[type='radio'] {
    border: 1px solid #AAA;
    color: #767676;
    font-family: 'Conv_Ubuntu-Light';
    font-size: 14px;
    margin: 0;
    padding: 3px 5px;
    width: 50px;
}
#body .content form > label > label{
    width:70px;
    display:inline-block;
}
#body .content form > label > label.long{
    width:80px;
}
#body .content form label textarea {
    border: 1px solid #AAA;
    color: #767676;
    display: block;
    float: left;
    font-family: 'Conv_Ubuntu-Light';
    font-size: 14px;
    height: 147px;
    margin: 0;
    overflow: auto;
    padding: 5px;
    width: 528px;
}
#body .content form #submit {
    background: url(../images/button-submit.png) no-repeat 0 0;
    border: 0;
    cursor: pointer;
    display: block;
    height: 38px;
    margin: 5px 0 0 130px;
    padding: 0;
    width: 142px;
}
#body .content form #submit:hover {
    background-position: 0 -43px;
}
/*#body .content table tr.display-header{*/
    /*border-bottom: 1px solid #DDDDDD;*/
/*}*/
/*#body .content-display table tr.display-header{*/
    /*border-bottom: 1px solid #DDDDDD;*/
/*}*/
#body table .photo{
    width: 120px;
    height: 160px;
    padding-right: 10px;
}
#body table .photo > img{
    width:120px;
    height:160px;
}
#body table .portrait{
    width: 180px;
    height: 240px;
    padding-right: 10px;
}
#body table .portrait > img{
    width:180px;
    height:240px;
}
#body table .pub-picture{
    width: 160px;
    height: 120px;
    padding-right: 10px;
}
#body table .pub-picture > img{
    width:160px;
    height:120px;
}
#body table .pro-picture{
    width: 200px;
    height: 150px;
    padding-right: 10px;
}
#body table .pro-picture > img{
    width:200px;
    height:150px;
}
#body table .detail{
    width: 400px;
    height: 300px;
    padding-right: 10px;
}
#body table .detail > img{
    width:400px;
    height:300px;
}

table tr.member-title div {
    background: #333;
    border-radius: 1em;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    margin-top: 30px;
    width: 98%;
}

#body td{
    vertical-align: top;
}
#body tr{
    padding: 5px;
    margin:5px 10px 5px 10px;
}
#body #sidebar {
    float: left;
    margin: 0;
    padding: 0;
    width: 288px;
}
#body #sidebar div {
    background: #94acb3;
    margin: 0 0 12px;
    padding: 0;
}
#body #sidebar div h3 {
    background: url(../images/icons.png) no-repeat;
    border-bottom: 2px solid #ffe600;
    color: #ffe600;
    font-size: 16px;
    font-weight: normal;
    height: 39px;
    line-height: 39px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#body #sidebar div ul {
    margin: 0;
    padding: 10px 20px 20px;
}
#body #sidebar div ul li {
    list-style: none;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
#body #sidebar div ul li a {
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
    text-transform: capitalize;
}
#body #sidebar div ul li a:hover {
    text-decoration: underline;
}

#body div.multiple-choice > label > input[type='text']{
    display: none;
}
#body .multiple-choice > span{
    width:528px;
    height:100px;
    margin-left: 130px;
    border:2px solid black;
    overflow:scroll;
    display: inline-block;
}
#body .multiple-choice > span > input{

    width:21px;
    height:21px;

    display: inline-block;
}

#body .multiple-choice > label > div{
    padding-left:130px;
}
#body .multiple-choice > label > div p{
    height: 24px;
    padding:0px 0px 10px 0px;
}

/*首页动态展示新闻图片相关*/
#body #picfocus {
    width:910px;
    height:550px;
    border:1px solid #EEE;
    margin:5px;
}
#body #piclist {
    position: relative;
    float:left;
    width:720px;
    height:540px;
    overflow:hidden;
    margin:5px 0px 0px 9px;
    display:inline;
}
#body #picfocus ul{
    padding: 0;
    margin: 0;
}
#body #pic {
    position:absolute;
}
#body #pic li{
    overflow:hidden;
    width:720px;
    height:540px;
}
#body #pic img{
    width:720px;
    height:540px;
}
#body #pictxtbg{
    position:absolute;
    bottom:0px;
    left:0px;
    background: none repeat scroll 0 0 #000000;
    opacity:0.5;
    width:720px;
    height:35px;
    filter:alpha(opacity=50);
}
#body #pictxt{
    position:absolute;
    bottom:8px;
    left:8px;
    color:#fff;
}
#body #pictxt .normal {
    display:none;
}
#body #pictxt .current{
    display:block;
}
#body #pic{
    overflow:hidden;
}
#body #picbtn{
    float:right;
    display:inline;
    margin:5px 9px 5px 0px;
}
#body #picbtn li{
    cursor:pointer;
    height:138px;
    opacity:0.5;
    filter:alpha(opacity=50);
}
#body #picbtn img{
    width:160px;
    height:120px;
    margin:3px 0px 3px 11px;
}
#body #picbtn .current{
    opacity:1;
    filter:alpha(opacity=100);
}
/*首页动态展示部分相关结束*/

#footer {
    border-top: 2px solid #000;
    margin: 2px 0 0;
    padding: 16px 0;
    /*avoid format bug caused by float element*/
    /*clear: left*/
}
#footer div {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 960px;
}
#footer div p {
    color: #000;
    float: left;
    font-size: 11px;
    line-height: 27px;
    margin: 0;
    padding: 0 0 0 10px;
}
#footer div p span {
    padding: 0 16px 0 0;
}
#footer div p a {
    color: #767676;
    text-decoration: none;
}
#footer div p a:hover {
    color: #000;
}
#footer div ul {
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#footer div ul li {
    float: left;
    list-style: none;
    margin: 0 12px 0 0;
    padding: 0;
}
#footer div ul li a {
    background: url(../images/icons.png) no-repeat;
    display: block;
    height: 27px;
    margin: 0;
    padding: 0;
    text-indent: -99999px;
    width: 27px;
}