<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>LION</display-name>
  <!-- 加载springmvc -->
  <servlet>
    <servlet-name>SpringMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!--欢迎页面配置-->
  <welcome-file-list>
    <!--默认配置为index.jsp/htm/html，使用默认配置时此部分可省略,默认配置jsp文件要在WEB-INF根目录下-->
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- 以.htm结尾的都被mvc拦截 -->
  <servlet-mapping>
    <servlet-name>SpringMVC</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
</web-app>